---

---

<form id="send-message" class="flex mt-4">
  <input
    id="chat-txt"
    type="text"
    placeholder="Say hello... 🥳"
    maxlength="450"
    class="flex-grow p-2 rounded-l-lg bg-gray-800 text-white"
  />
  <button id="chat-btn" type="submit" class="p-2 bg-green-600 rounded-r-lg">
    <img id="send" height="45" src="/images/22-send.png" alt="send-message" />
  </button>
</form>
