---

---

<header class="flex justify-between items-center p-4 bg-gray-900 text-white">
  <h1 class="text-xl">Chat - Afro Watch</h1>
  <nav>
    <ul class="flex space-x-4">
      <li><a href="/index" class="hover:underline">Home</a></li>
      <li><a href="/channels" class="hover:underline">Channels</a></li>
      <li><a href="/exclusive" class="hover:underline">Exclusive</a></li>
      <li><a href="/chat" class="hover:underline">Chat</a></li>
      <li>
        <a href="#" onclick="signOut()" class="hover:underline">Logout</a>
      </li>
    </ul>
  </nav>
</header>
