---

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Chat - Afro Watch</title>
    <link rel="stylesheet" href="/styles/global.css" />
    <script src="https://smtpjs.com/v3/smtp.js"></script>
    <link
      rel="stylesheet"
      href="//use.fontawesome.com/releases/v5.0.7/css/all.css"
    />
    <link rel="icon" type="image/x-icon" href="/images/fave.png" />
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  </head>
  <body class="bg-black text-white">
    <slot />
    <script src="/scripts/chat.js"></script>
  </body>
</html>
